@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <div>
        @*Invoke alternative 1:
        - use taghelper <vc:name-of-view-component>
        - you need to extend _ViewImports with
            @addTagHelper *, DemoLes3ViewComponent 
         *@
        <span>As taghelper</span>
        <vc:demo name="Henk"></vc:demo>
    </div>

    <div>
        @*Invoke alternative 2:*@
        <span>As Component.InvokeAsync</span>
        @await Component.InvokeAsync("Demo", "Henk")
    </div>
</div>